{% extends 'store/base.html' %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}
<h4 class="mb-4-mt-4">{{ title }}</h4>
<hr>
<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        {{ form.as_p }}
    </div>

    {% if form.errors or form.non_field_errors %}
            <div class="mb-4 p-6 bg-danger">
                {% for field in form %}
                    <h5 class="text-white">
                        {{field.errors}}
                    </h5>

                {% endfor %}

                {{ form.non_field_errors }}
            </div>
    {% endif %}

    <button class = "btn btn-primary mb-6">
        Add Item
    </button>
</form>

{% endblock %}